.postBlock {
  padding: 0.5em;
  border: 1px dashed cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
}

.postLink {
  color: firebrick;
  text-decoration: none;
}

.postLink:hover {
  color: red;
  text-decoration: underline;
}